header {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
    text-align: center;
}



body {
	margin-top: 80px;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
	background-color: #dadada;
}


footer {
	font-family: Arial, sans-serif;
	position: fixed;
	bottom: 2%;
  	width: 100%;
	text-align: center;
    font-size: 10px;
	color: #000000;
}


nav ul {
	list-style: none;
	padding: 0;
	display: flex;
    text-align: center;
}

nav li {
	font-size: 150%;
	position: relative;
	top: 100px;
	font-size: 25p;
	left: 0;
	width: 100%;
	z-index: 9999;
    text-align: center;
}


nav a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	color: rgb(255, 0, 162);
}

main {
	margin-top: 80px;
	padding: 20px;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
}

h1 {
	font-size: 150px;
    text-align: center;
}

h2 {
	font-size: 150%;
	position: relative
}



.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #000000 0%,
    #5b5b5b 29%,
    #5e5e5e 67%,
    #bdbdbb 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}




#scroll-container {
	overflow: hidden;
	font-size: 150%;
	position: relative;
	font-family: Arial, sans-serif;
	bottom: 50%;
	color: #000000;
	z-index: 10000;
	width: 100%;
	
  }
  
  #scroll-text {
	/* animation properties */
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	margin: 0;
	
	-moz-animation: my-animation 15s linear infinite;
	-webkit-animation: my-animation 15s linear infinite;
	animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
	from { -moz-transform: translateX(100%); }
	to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
	from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
	from {
	  -moz-transform: translateX(100%);
	  -webkit-transform: translateX(100%);
	  transform: translateX(100%);
	}
	to {
	  -moz-transform: translateX(-100%);
	  -webkit-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
  
