header {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
    text-align: center;
}



body {
	margin-top: 80px;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
	background-color: #7df6cf;
}


footer {
	font-family: Arial, sans-serif;
	position: fixed;
	bottom: 0;
  	width: 100%;
	text-align: center;
    font-size: 10px;
	color: #000000;
}


nav ul {
	list-style: none;
	padding: 0;
	display: flex;
    text-align: center;
}

nav li {
	position: relative;
	top: 100px;
	left: 0;
	width: 100%;
	z-index: 9999;
    text-align: center;
}


nav a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	color: rgb(255, 0, 162);
}

main {
	margin-top: 80px;
	padding: 20px;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
}

h1 {
	font-size: 150px;
    text-align: center;
}

